= form_with(model: @team, local: true) do |form|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, 'error')} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  .field
    = form.label :name
    = form.text_field :name, required: true

  .field
    = form.label :description
    = form.text_field :description, required: true

  .field
    = form.label :owner
    = form.collection_select :owner_id, User.all, :id, :username, prompt: 'Select Owner', required: true

  .actions
    = form.submit 'Save'
