%h1 Users List
  
= link_to 'New User', new_user_path

%table.border.rounded-lg.shadow-md.w-full
  %thead
    %tr
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        First Name
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Last Name
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Username
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Email
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Edit
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Delete
        
  %tbody
    - @users.each do |user|
      %tr
        %td.px-4.py-2.border.border-gray-600
          = user.first_name
        %td.px-4.py-2.border.border-gray-600
          = user.last_name
        %td.px-4.py-2.border.border-gray-600
          = user.username
        %td.px-4.py-2.border.border-gray-600
          = user.email
        %td.px-4.py-2.border.border-gray-600
          = link_to 'Edit', edit_user_path(user)
        %td.px-4.py-2.border.border-gray-600
          = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } 
