%h1 Roles List

%table.border.rounded-lg.shadow-md.w-full
  %thead
    %tr
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Name
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Description
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Edit
      %th.px-4.py-2.bg-gray-800.text-white.font-semibold.border.border-gray-600
        Delete  
        
  %tbody
    - @roles.each do |role|
      %tr
        %td.px-4.py-2.border.border-gray-600
          = role.name
        %td.px-4.py-2.border.border-gray-600
          = role.description
        %td.px-4.py-2.border.border-gray-600
          = link_to 'Edit', edit_role_path(role)
        %td.px-4.py-2.border.border-gray-600
          = link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }
  
= link_to 'New Role', new_role_path
