<!DOCTYPE html>
<html>
  <head>
    <title>SslCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/stimulus/dist/stimulus.umd.js' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if admin_signed_in? %> 
      <p class="flex grid grid-rows-4 grid-flow-col gap-4 text-1xl font-bold underline">
        <span>Current User Email: <%= current_admin.email %> </span>|
        <%= button_to "Sign out", destroy_admin_session_path, method: :delete %>
      </p>
      <div class="flex flex-row">
        <ul class="flex flex-row">
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Roles", roles_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
        </ul>
      </div> 
    <% else %>
      <%= button_to "Sign in", new_admin_session_path %> 
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr />
    <%= yield %>
  </body>
</html>
